@import 'bulma/css/bulma.css';
@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
    font-family: 'OpenSans-Medium';
    src: url("/assets/fonts/OpenSans-Medium.ttf");
}

* {
    font-family: 'OpenSans-Medium';
}